#sample1
{
font-family:forte;
}
#headdiv
{
background-color:pink;
width:100%;
height:60px;
position:absolute;
top:60px;
left:0;
}
#sample1{text-align:center;}
a{
text-decoration:none;
}
#spid
{
float:right;
padding:30px;
}
#head2
{
position:absolute;
top:1px;
left:40px;
font-size:65px;
background-color:bisque;
border-radius:20px;
}
#foot
{
position:fixed;
bottom:10px;
left:0;
background-color:pink;
width:100%;
height:80px;
}
#spid
{
padding:30px;
}#hone
{
background-color:grey;
}
#hi
{
position:absolute;
top:230px;
left:240px;
font-size:40px;
}
#hel
{font-size:30px;
position:absolute;
top:430px;
left:900px;
}
button
{
positon:absolute;
top:450px;
left:240px;
}
#job1
{
position:absolute;
bottom:300px;
left:300px;
}#job2
{
position:absolute;
bottom:100px;
left:300px;
}#job3
{
position:absolute;
bottom:300px;
right:300px;
}
#job4
{
position:absolute;
bottom:100px;
right:300px;
}
#spid:hover
{
background-color:grey;
color:blue;
border:1px solid black;
transition:1s;
}