table
{
width:100px;
height:200px;

}
fieldset
{
width:80px;
position:absolute;
top:300px;
left:800px;
border-radius:20px;
}
#link{
text-decoration:none;
position:absolute;
top:550px;
left:850px;
}
body
{
background-color:lightblue;
}
